<widget xmlns = "http://www.w3.org/ns/widgets" 
    	xmlns:gap = "http://phonegap.com/ns/1.0" 
    	id = "cl.mobile.portalrrhh" 
    	version   = "2.0.0">
 
	<name>Portal RRHH Autopista Central</name>

	<description> Portal RRHH movil de Autopista Central</description>

	<author href="https://www.ejedigital.cl" email="soporte@ejedigital.cl">Soporte</author>

	<preference name="phonegap-version" value="2.9.0" />
	<preference name="orientation"      value="portrait" />
	<preference name="target-device"    value="universal" />
	<preference name="fullscreen"       value="true" />
	<preference name="exit-on-suspend" value="true" />
	<preference name="android-minSdkVersion" value="10" />


    <gap:splash src="splash/android/splash_426x320.png" gap:platform="android" gap:density="ldpi" />
    <gap:splash src="splash/android/splash_470x320.png" gap:platform="android" gap:density="mdpi" />
    <gap:splash src="splash/android/splash_640x480.png" gap:platform="android" gap:density="hdpi" />
    <gap:splash src="splash/android/splash_960x720.png" gap:platform="android" gap:density="xhdpi" /> 

	<icon src="icons/android/icon.png" />

	<feature name="http://api.phonegap.com/1.0/network"/>

</widget>